<%- include('layout-top'); -%>

<main>
    <form class="login-form" action="" method="POST">
        <label for="username">Username :</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password :</label>
        <input type="password" name="password" id="password" required>

        <button>Log In</button>
    </form>
</main>

<%- include('layout-end'); -%>
