<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='style.css' />
    <title>Log in</title>
</head>

<body>
    <header>
        <div class="header-right">
            <p><a href="">About</a></p>
            <p><a href="">Log-in</a></p>
            <p><a href="">Sign-up</a></p>
            <p><a href="">Username</a></p>
            <p><a href="">Sign-out</a></p>
        </div>
        <h1>Log In</h1>
    </header>
    <main>
        <form class="login-form" action="">
            <label for="username">Username :</label>
            <input type="text" name="username" id="username">

            <label for="password">Password :</label>
            <input type="password" name="password" id="password">

            <button>Log In</button>
        </form>
    </main>
    <footer>

        <p>Copyright 2020 by Noman @ Odin Society</p>
    </footer>

</body>
</html>