<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='style.css' />
    <title>Sign Up</title>
</head>

<body>
    <header>
        <div class="header-right">
            <p><a href="">About</a></p>
            <p><a href="">Log-in</a></p>
            <p><a href="">Sign-up</a></p>
            <p><a href="">Username</a></p>
            <p><a href="">Sign-out</a></p>
        </div>
        <h1>Sign Up</h1>
    </header>
    <main>
        <form class="signup-form" action="">
            <label for="first_name">First Name :</label>
            <input type="text" name="first_name" id="first_name" required>

            <label for="last_name">Last Name :</label>
            <input type="text" name="last_name" id="last_name" reqiured>

            <label for="username">Username :</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password :</label>
            <input type="password" name="password" id="password" required>

            <label for="re-password">Re-enter Password :</label>
            <input type="password" name="re-password" id="re-password" required>
            <span><small>* Password must be at least 6 characters</small></span>
            <br><br>
            <label for="refer">Reference Code :</label>
            <input type="text" name="refer" id="refer" placeholder="Reference code here">

            <button>Sign Up</button>
        </form>
    </main>
    <footer>

        <p>Copyright 2020 by Noman @ Odin Society</p>
    </footer>

</body>

</html>